@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-public-sans);
  --color-main: var(--main);
  --color-overlay: var(--overlay);
  --color-bg: var(--bg);
  --color-bw: var(--bw);
  --color-blank: var(--blank);
  --color-text: var(--text);
  --color-mtext: var(--mtext);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-ring-offset: var(--ring-offset);
  --color-secondaryBlack: #212121;
}

:root {
  --main: #88aaee;
  --overlay: rgba(0, 0, 0, 0.8);
  --bg: #dfe5f2;
  --bw: #fff;
  --blank: #fff;
  --text: #000;
  --mtext: #000;
  --border: #000;
  --ring: #000;
  --ring-offset: #fff;

  --radius: 5px;

  --background: var(--bg);
  --foreground: var(--text);
  --primary: var(--main);
  --primary-foreground: var(--text);
  --secondary: var(--bw);
  --secondary-foreground: var(--text);
  --muted: #eee;
  --muted-foreground: #737373;
  --accent: var(--main);
  --accent-foreground: var(--text);
  --destructive: #ff6b6b;
  --destructive-foreground: #000;
  --input: var(--bw);
  --popover: var(--bw);
  --popover-foreground: var(--text);
  --card: var(--bw);
  --card-foreground: var(--text);
}
@media (prefers-color-scheme: dark) {
  :root {
    --main: #88aaee;
    --bg: #050505;
    --bw: #212121;
    --blank: #000;
    --text: #e6e6e6;
    --mtext: #e6e6e6;
    --border: #000;
    --ring: #e6e6e6;
    --ring-offset: #000;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);
}

@layer utilities {
  .focus-brutal {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }
}
